<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jogenda</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">


  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
  <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html">Jogenda</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero2" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
        <h1>Une solution de gestion pour les jeux olympiques</h1>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= Main Section ======= -->
<main id="main">
  <div class="container">
    <div class="title">
      <h1>Disciplines Olympiques</h1>
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createDiscipline">
        Nouvelle discipline
      </button>
    </div>
    <div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Discipline</th>
          <th scope="col">Paralympique</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="discipline : ${disciplines}">
          <td>[[*{discipline.nom}]]</td>
          <td>[[*{discipline.paralympique}]]</td>
          <td>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" th:attr="data-bs-target='#editedDiscipline'+*{discipline.id_discipline}" >
              Modifier
            </button>
            <!-- Modal Modifier Discipline-->
            <div class="modal fade modal-lg" th:id="*{'editedDiscipline'+{discipline.id_discipline}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edited" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h1 class="modal-title fs-5 col-12 " id="edited">Modifier discipline</h1>
                  </div>
                  <form action="/discipline/editdiscipline" method="post">
                    <div class="modal-body">
                      <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">ID discipline</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control-plaintext" name="id_discipline" id="id_discipline" th:value="*{discipline.id_discipline}" readonly="readonly">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="selectDiscipline" class="col-sm-3 col-form-label">Nom de la discipline</label>
                        <div class="col-sm-9">
                          <input id="selectDiscipline" type="text" class="form-control" name="nameDiscipline" th:value="*{discipline.nom}">
                        </div>
                      </div>
                      <fieldset class="row mb-3">
                        <legend class="col-sm-5 col-form-label">Présente au Paralympique ?</legend>
                        <div class="col-sm-7">
                          <select class="form-select" id="selPara" name="paralympique" onclick="selectEdit()">
                            <option id="opt1" th:value="*{discipline.paralympique}"  th:label="*{discipline.paralympique}"></option>
                            <option id="opt2" value="" label=""></option>
                          </select>
                        </div>
                      </fieldset>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                      <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Fin Modal Modifier Discipline -->
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"th:attr="data-bs-target='#delete'+*{discipline.id_discipline}">
              Supprimer
            </button>
            <!-- Modal Supprimer-->
            <div class="modal fade modal-lg" th:id="*{'delete'+{discipline.id_discipline}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="col-12 modal-title fs-5 text-center">Supprimer une discipline</h1>
                  </div>
                  <div class="modal-body-delete">
                    <div class="row">
                      <label id="deleteLabel"  class="col-form-label">Êtes-vous sûr de vouloir supprimer cette discipline avec les épreuves associées ? </label>
                    </div>
                  </div>
                  <div class="modal-footer-delete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a th:href="@{/discipline/delete/{id}(id=${discipline.id_discipline})}"
                       class="btn btn-danger">Supprimer</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin Modal Supprimer -->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example">
      <div class = "col-sm-2">
        Total discipline: [[${totalItems}]]
      </div>
      <ul class="pagination justify-content-center">
        <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
          <a class="page-link" th:if="${currentPage != i}" th:href="@{'/epreuve/' + ${i}}">[[${i}]]</a>
        </li>
        <li class="page-item">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/epreuve/' + ${currentPage + 1}}">Suivant</a>
        </li>
        <li class="page-item">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/epreuve/' + ${totalPages}}">Dernier</a>
        </li>
      </ul>
    </nav>
  </div>
</main>
<!-- End #main -->

<!-- Modal Créer -->
<div class="modal fade modal-lg" id="createDiscipline" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 col-12 " id="createLabel">Ajouter une discipline</h1>
      </div>
      <form id="formDiscipline" action="/discipline/addDiscipline" method="post">
        <div class="modal-body">
            <div class="row mb-3">
              <label for="nomDiscipline" class="col-sm-3 col-form-label">Nom de la discipline</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="nomDiscipline" name="nameDiscipline" onblur="getVal()" >
              </div>
            </div>
          <fieldset class="row mb-3">
            <legend class="col-sm-5 col-form-label">Présente au Paralympique ?</legend>
            <div class="col-sm-7">
              <select class="form-select" th:name="paralympique" id="optionPara" onblur="getVal()">
                <option value="">Choisissez votre réponse</option>
                <option value="true">oui</option>
                <option value="false">non</option>
              </select>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-success" id="BtnCreate" hidden="true">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Fin Modal Créer -->

<script>
  const ModalCreate = document.getElementById('createDiscipline');
  const BtnCreate = document.getElementById("BtnCreate");
  function getVal() {
    const para = document.getElementById("optionPara").value;
    const disc = document.getElementById("nomDiscipline").value;
    if(disc==="" || para==="") {
      BtnCreate.hidden = true;
    }else{
      BtnCreate.hidden=false;
    }
  }
s
  function selectEdit(){
    const opt1 = document.getElementById("opt1");
    const opt2 = document.getElementById("opt2");
    const opt1value = document.getElementById("opt1").value;
    if(opt1value==="true"){
      opt2.value="false";
      opt2.label="non";
      opt1.label="oui";
    }else{
      opt2.value="true";
      opt2.label="oui";
      opt1.label="non";
    }
  }
  ModalCreate.addEventListener('shown.bs.modal', async ()=> {
    getVal();
  })

</script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>