<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion des sessions</title>


  <!-- Favicons -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">


  <!-- Vendor CSS Files -->
  <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{assets/css/style.css}" rel="stylesheet">

  <link href=
                'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
        rel='stylesheet'>

  <script src=
                  "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" >
  </script>

  <script src=
                  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" >
  </script>


</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html">Jogenda</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link active" href="/session">Sessions</a></li>
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
<section id="hero" class="d-flex align-items-center">
  <button type="button" id="createSessionButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createSessionModal">
    Créer une session
  </button>
</section>
<!-- End Hero -->

<main id="main">

</main><!-- End #main -->


<div class="modal fade" tabindex="-1" id="createSessionModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Créer une session</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
        <div class ="form-part">
            Discipline :
            <select class="form-select" id="selectDiscipline">
              <option value='' disabled selected hidden>En chargement des disciplines</option>
            </select>
            <div id="selEpreuveBox" hidden>
              Epreuve :
              <select class="form-select" id="selectEpreuve">
              </select>
            </div>
        </div>

        <div class ="form-part" hidden>
           Catégorie de site :
            <select class="form-select" id="selCat">
              <option value='' disabled selected hidden>En chargement des catégories</option>
            </select>
            <div id="selSiteBox" hidden>
              Site :
              <select class="form-select" id="selSite">
                <option value='' disabled selected hidden>En chargement des sites</option>
              </select>
            </div>
        </div>

        <div class ="form-part" hidden>
            <input id="startDate" />
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-secondary" id="ret" hidden>Retour</button>
        <button type="button" class="btn btn-primary" id="next" disabled>Suivant</button>
      </div>
    </div>
  </div>
</div>
<script>
  const myModal = document.getElementById('createSessionModal')
  const myInput = document.getElementById('createSessionButton')
  const selDis = document.getElementById("selectDiscipline");
  const selEp = document.getElementById("selectEpreuve");
  const selCat = document.getElementById("selCat");
  const selSite = document.getElementById("selSite");
  const selEpBox = document.getElementById("selEpreuveBox");
  const selSiteBox = document.getElementById("selSiteBox");
  const nextBut = document.getElementById("next");
  const retBut = document.getElementById("ret");
  const formParts = Array.prototype.slice.call(document.getElementsByClassName("form-part"));

  let activeForm = 0;
  var dis = "";
  myModal.addEventListener('shown.bs.modal', async () => {
    myInput.focus();
    if(!dis){
      var response = await fetch('/createSessionDisciplines')
                .then((res) => {
                  selDis.innerHTML = "<option value='' disabled selected hidden>Choisissez une discipline</option>";
                  return res.json()
                })
      response.disciplines.forEach((dis)=>{
        selDis.innerHTML += "<option>"+dis+"</option>";
      })
    }
  })
  selDis.addEventListener('change', async ()=> {
    selEp.innerHTML = "<option value='' disabled selected hidden>Choisissez une épreuve</option>";
    nextBut.disabled = true;
    dis = selDis.value;
    var response = await fetch('/createSessionEpreuves/' + dis)
            .then((res) => {
              return res.json()
            })
    response.epreuves.forEach((ep) => {
      selEp.innerHTML += "<option>" + ep + "</option>";
    })
    selEpBox.hidden = false
    selEp.addEventListener('change', async () => {
      nextBut.disabled = false

    })
  })


    var sites;
  var dates;
    nextBut.addEventListener('click', async ()=>{
      activeForm++;
      retBut.hidden = false;
      formParts.map((formPart)=>{
        formPart.hidden = true;
      })
      formParts[activeForm].hidden = false;

      if(activeForm == 1){
        var response = await fetch('/createSessionSites')
                .then((res) => {
                  selCat.innerHTML = "<option value='' disabled selected hidden>Choisissez une catégorie</option>";
                  return res.json()
                })
        sites = JSON.parse(response.sites)
        Object.keys(sites).forEach((key)=>{
            selCat.innerHTML += "<option>"+key+"</option>";
            })

          }
      if(activeForm == 2){
        var response = await fetch('/getDates/'+selSite.value)
                .then((res) => {
                  return res.json()
                })
        dates = JSON.parse(response.dates)
      }
    })

  selCat.addEventListener('change', async () => {
    selSite.innerHTML = "<option value='' disabled selected hidden>Choisissez un site</option>";
    selSiteBox.hidden = false;
    sites[selCat.value].forEach((site) => {
      selSite.innerHTML += "<option>" + site + "</option>";
    })
  })

  retBut.addEventListener('click', ()=> {
    activeForm--;

    formParts.map((formPart) => {
      formPart.hidden = true;
    })
    formParts[activeForm].hidden = false;
    if (activeForm == 0) {
      retBut.hidden = true;
    }
  })

  function WarnDays(date) {
      var fDate = $.datepicker.formatDate('dd-mm-yy', date);
      var res = [true,''];
      $.each(dates, function (i, e) {
        let dateString = new Date(e.date);
        if(fDate === dateString.getDate()+"-"+(dateString.getMonth()+1)+"-"+dateString.getFullYear()){
          res = [true, 'ui-state-highlight', 'Une session est déjà présente sur cette date'];
        }
      });
    return res;

  }

  $("#startDate").datepicker({
    uiLibrary: 'bootstrap5',
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    beforeShowDay: WarnDays,
    onselect:(()=>{

    })
  });


</script>
<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>
</html>